.bird
    .bird__toptitleblock   
        span Подбор земельного участка для строительства дома
    .bird__topdescriptionblock
        span Как выбрать земельный участок под строительство дома?
    .bird__topimgblock
        img(src="./images/imagesu.png", alt="")