.calc
    .calc__title
        span Рассчитайте стоимость строительства:
    .calc__blockselect 
        .calc__blockselecttop
            div
                label.calc__label Площадь:
                .calc__quantity-block.quantity-block
                    button.calc__quantity-arrow-plus.quantity-arrow-plus
                        img(src='./images/t.png', alt='')
                    // disabled
                    input.calc__quantity-num.quantity-num#square(type='text', value='1'  )   
                    button.calc__quantity-arrow-minus.quantity-arrow-minus.calc__quantity-arrow-plus.calc__quantity-arrow-plus_b
                        img(src='./images/b.png', alt='')
                    .t м&sup2;
            div
                span.calc__label Этажность:
                    select.calc__input.calc__input_select#floor(name="")
                        option(value="1") 1  
                        option(value="2") 2
                        //- option(value="3") 3
                        //- option(value="4") 4
                        //- option(value="5") 5  
        div.calc__blockselectbottom
            label.calc__label Технология строительства:
                select.calc__input.calc__input_select2#materials(name="")
                    option(value="1") Ракушечник
                    option(value="2") Газобетон
                    option(value="3") Пеноблок
                    option(value="4") Кирпичный
                    option(value="5") Клеённый брус
                    option(value="6") Каркасный
        .calc__blockbutton
            button.calc__button#btn_step1 
                span Посчитать
    .calc__bottomblock
        .calc__bottomblocktext Стоимость строительства:
        .calc__bottomblocktext.calc__bottomblocktext_color
            span#global_sum_result 
                | 
            | &ensp;руб.

script.
    (function(){
        var text = document.getElementById("square"),
            testText;
            text.onkeyup          =  function testKey(){
            var testText       =  text.value;
                if(testText*1 + 0  !=  text.value){
                    text.value      = testText.substring(0, testText.length - 1)    
                }
            }
    })();


    $(document).ready(() => {
        var global_result = "15 000";
        var result = "15 000";
        

        const $count_floor_el = $('#floor');
        const $count_materials_el = $('#materials');
        const $count_square_el = $('#square');
        const btn_step1 = $('#btn_step1');
        const calc__quantity = $('.calc__quantity-num')
        const $t = $('.t')

        

        function recount(argument) {
            $('#global_sum_result').html(global_result.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 '));
            if(calc__quantity.val().lenght === 1){
                t.css('left', '10')
            }
        }
        recount();

        btn_step1.on('click', () => {
            const count_floor_el_val = $count_floor_el.val();
            const count_materials_el_val = $count_materials_el.val();
            const count_square_el_val = $count_square_el.val();
            //- $('#btn_step1').css('background-color', 'red');
            
            
            if(count_floor_el_val === '1' && count_materials_el_val === '1'){
                //- console.log('evalue');
                result = "15000";
                global_result = (result * count_square_el_val + '');
            }
            else if (count_floor_el_val === '1' && count_materials_el_val === '2'){
                result = "16000";
                global_result = (result * count_square_el_val + '');
            }
            else if (count_floor_el_val === '1' && count_materials_el_val === '3'){
                result = "16000";
                global_result = (result * count_square_el_val + '');
            }
            else if (count_floor_el_val === '1' && count_materials_el_val === '4'){
                result = "19000";
                global_result = (result * count_square_el_val + '');
            }
            else if (count_floor_el_val === '1' && count_materials_el_val === '5'){
                result = "25000";
                global_result = (result * count_square_el_val + '');
            }
            else if (count_floor_el_val === '1' && count_materials_el_val === '6'){
                result = "14500";
                global_result = (result * count_square_el_val + '');
            }
            else if (count_floor_el_val === '2' && count_materials_el_val === '1'){
                result = "13000";
                global_result = (result * count_square_el_val + '');
            }
            else if (count_floor_el_val === '2' && count_materials_el_val === '2'){
                result = "14000";
                global_result = (result * count_square_el_val + '');
            }
            else if (count_floor_el_val === '2' && count_materials_el_val === '3'){
                result = "14000";
                global_result = (result * count_square_el_val + '');
            }
            else if (count_floor_el_val === '2' && count_materials_el_val === '4'){
                result = "17000";
                global_result = (result * count_square_el_val + '');
            }
            else if (count_floor_el_val === '2' && count_materials_el_val === '5'){
                result = "20000";
                global_result = (result * count_square_el_val + '');
            }
            else if (count_floor_el_val === '2' && count_materials_el_val === '6'){
                result = "12000";
                global_result = (result * count_square_el_val + '');
            }
            else{
                global_result = "Площадь введена некорректно";
            }
            recount();
        });
    });


