footer.footercontent
            .wrapper
                .footer
                    .footer__block1
                        .footer__logo   
                            a(href="./index.html")
                                span Магнат Строй
                        .footer__description
                            span © все права защищены
                    .footer__block2
                        a(href="./projects") 
                            span.footer__text Проекты 
                        a(href="./materials.html")        
                            span.footer__text Из чего мы строим
                        a(href="#")
                            span.footer__text Наши услуги 
                        a(href="./price.html")    
                            span.footer__text Цены   
                    .footer__block3
                        a(href="./about.html")
                            span.footer__text О нас    
                        a(href="./gallery.html")      
                            span.footer__text Фото
                        a(href="./contacts.html")
                            span.footer__text Контакты
                        a(href="./faq.html")
                            span.footer__text FAQ
                        a(href="#")
                            span.footer__text Блог
                    .footer__block4
                        .footer__number
                            span (063) 523 65 65
                        .footer__numberdesc
                            span
                                a(href="#") заказать обратный звонок