.form
    .form__titleblock
        img(src="./images/formicon.png", alt="")
        span Остались вопросы? 
    form.form__blockform
        input(type="text" placeholder="Имя" required).form__input
        input(type="tell" placeholder="Телефон" required).form__input
        input(type="email" placeholder="E-Mail" required).form__input
        button(type="submit").form__submit#btn3
            span Связаться