.form
    .form__titleblock
        img(src="./images/formicon.png", alt="")
        span Остались вопросы? 
    form.form__blockform
        input(type="text" placeholder="Имя").form__input
        input(type="tell" placeholder="Телефон").form__input
        input(type="email" placeholder="E-Mail").form__input
        button(type="submit").form__submit
            span Связаться