header.hoadercontent
    .wrapper
        .header
            .header__top
                //- .header__imgl
                //-     img(src="./images/imgl.png", alt="")
                //- .header__imgr
                //-     img(src="./images/imgr.png", alt="")
                .header__centr
                    a(href="./index.html").header__logoblock
                        img(src="./images/logo.png", alt="")
                        .logotext
                            | Магнат
                            span Ъ 
                            | Строй
                    .btnadapt#btnadapt 
                        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px"', viewBox='0 0 49 24', enable-background='new 0 0 49 24', xml:space='preserve')
                            path(d='M1.1,3.5C0.5,3.5,0,3,0,2.4V1.7c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.7 c0,0.6-0.5,1.1-1.1,1.1H1.1z M1.1,13.8c-0.6,0-1.1-0.5-1.1-1.1V12c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.7 c0,0.6-0.5,1.1-1.1,1.1H1.1z M16.2,24c-0.6,0-1.1-0.5-1.1-1.1v-0.6c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.6 c0,0.6-0.5,1.1-1.1,1.1H16.2z')

                .header__rght
                    span (063) 523 65 65
                    a(href="#") заказать обратный звонок
                    .header__imgl
                        img(src="./images/imgl.png", alt="")
                    .header__imgr
                        img(src="./images/imgr.png", alt="")
            .header__bottom
                .header__contentbottom
                    .header__menu
                         
                        .selectblock1
                            a.selectblock1__link(href="./projects.html") Проекты 
                            .selectblock1__list
                                a.selectblock1__item(href="./projects.html") Дома до 100м2
                                a.selectblock1__item(href="./projects.html") Дома 100-150 м2
                                a.selectblock1__item(href="./projects.html") Дома от 150 м2
                                a.selectblock1__item(href="./projects.html") Одноэтажные дома
                                a.selectblock1__item(href="./projects.html") Дома с мансардой
                                a.selectblock1__item(href="./projects.html") Двухэтажные дома
                                a.selectblock1__item(href="./projects.html") Дачные дома 
                        .selectblock2
                            a.selectblock2__link(href="./info.html") Строительство домов 
                            .selectblock2__blocklists
                                .selectblock2__list1
                                    a.selectblock2__item(href="./info.html") Строительство частных домов под ключ
                                    a.selectblock2__item(href="./info.html") Строительство коттеджей
                                    a.selectblock2__item(href="./info.html") Строительство коттеджей
                                    a.selectblock2__item(href="./info.html") Строительство индивидуальных жилых домов
                                    a.selectblock2__item(href="./info.html") Строительство гостевых домов
                                    a.selectblock2__item(href="./info.html") Строительство домов с мансардой  
                                .selectblock2__list2
                                    a.selectblock2__item(href="./info.html") Строительство гостиниц
                                    a.selectblock2__item(href="./info.html") Строительство объектов общего назначения 
                                    a.selectblock2__item(href="./info.html") Строительство торговых и офисных центров
                                    a.selectblock2__item(href="./info.html") Строительство промышленных объектов 
                                    a.selectblock2__item(href="./info.html") Строительство детских и школьных учреждений
                                    a.selectblock2__item(href="./info.html") Строительство спортивных комплексов    
                                .selectblock2__list3
                                    a.selectblock2__item(href="./info.html") Строительство 1-этажных домов
                                    a.selectblock2__item(href="./info.html") Строительство 2-этажных домов                                            
                        a(href="./materials.html") Из чего мы строим
                        a(href="./services.html") Наши услуги 
                        a(href="./price.html") Цены
                        a(href="./about.html") О нас
                        a(href="./contacts.html") Контакты
                    a(href="./info.html").header__call
                        span Еще нет земельного участка? Мы подберем!
                        img(src="./images/map.png", alt="")
            
            .adaptmenu#adaptmenu
                .adaptmenu__paragraph
                    .close#close
                    a(href="./index.html") Главная
                    a(href="./projects.html") Проекты
                    a(href="./materials.html") Из чего мы строим
                    a(href="./services.html") Наши услуги 
                    a(href="./price.html") Цены
                    a(href="./about.html") О нас
                    a(href="./gallery.html") Фото
                    a(href="./contacts.html") Контакты
                    a(href="./info.html") Блог
                            
            script.
                var btnadapt  = document.getElementById('btnadapt'); 
                var close = document.getElementById('close');
                var adaptmenu = document.getElementById('adaptmenu');

                btnadapt.addEventListener('click', function () {
                    adaptmenu.classList.add('visibladaptmenu');
                });

                close.addEventListener('click', function () {
                    adaptmenu.classList.remove('visibladaptmenu');
                });

                
        