.navigation
    .navigation__link
        a(href='#')
            span 1
    .navigation__link
        a(href='#')
            span 2
    .navigation__link
        a(href='#')
            span 3
    .navigation__link.active
        a(href='#')
            span 4
    .navigation__link
        a(href='#')
            span 5
    .navigation__link
        a(href='#')
            span 6