#openModal1.modalDialogcustom
    div.contentpopap 
        .popapwrapper.mainpopap
            form.form
                .form__title
                    p заказать обратный звонок
                .form__text
                    p И наш менеджер свяжется с вами в ближайшее время
                .form__blockinput
                    input(type="text" placeholder="Ваше имя" required)
                    input(type="tell" placeholder="Ваш телефон" required)
                    button(type="submit")#btn2
                        span Заказать звонок
                //- .form__blockbutton
                //-     button(type="button")#btn2
                //-         span Заказать звонок
            .close1#close1( title='Close') 
                img(src="./images/close.png", alt="" width="23")
            .imgbg
                img(src="./images/popup.png", alt="")


#openModal2.modalDialogcustom
    div.contentpopap 
        .popapwrapper.thanks
            .blockcontent
                .blockcontent__title
                    p Спасибо за заявку
                .blockcontent__text
                    p Наш менеджер свяжется с вами в ближайшее время
                

            .close2#close2( title='Close') 
                img(src="./images/close.png", alt="" width="23")


script.
    
    $('#btn1').click(function() {
        $('#openModal1').fadeIn(300).css('display', 'flex');
        $('body').css('overflow','hidden');
    });

    //- $('#btn2').click(function() {
    //-     $('#openModal2').fadeIn(300).css('display', 'flex');
    //-     $('#openModal1').css('display', 'none');
    //-     $('body').css('overflow','hidden');
    //- });

    $('#btn3').click(function() {
        $('#openModal1').fadeIn(300).css('display', 'flex');
        $('body').css('overflow','hidden');
    });

    $('#btn4').click(function() {
        $('#openModal1').fadeIn(300).css('display', 'flex');
        $('body').css('overflow','hidden');
    });

    $('#close1').click(function() {
        $('#openModal1').css('display', 'none');
        $('body').css('overflow','visible');
    });
    

    $('#close2').click(function() {
        $('#openModal2').css('display', 'none');
        $('body').css('overflow','visible');
    });
    
    

    