script.

    var nav1 = document.getElementById('nav1');
    var nav2 = document.getElementById('nav2');
    var nav3 = document.getElementById('nav3');
    var nav4 = document.getElementById('nav4');
    var nav5 = document.getElementById('nav5');
    var nav6= document.getElementById('nav6');

    nav1.addEventListener('click', function () { 
        nav1.classList.add('activenav');
        nav2.classList.remove('activenav');
        nav3.classList.remove('activenav');
        nav4.classList.remove('activenav');
        nav5.classList.remove('activenav');
        nav6.classList.remove('activenav');

    });

    nav1.addEventListener('click', function () { 
        nav1.classList.add('activenav');
        nav2.classList.remove('activenav');
        nav3.classList.remove('activenav');
        nav4.classList.remove('activenav');
        nav5.classList.remove('activenav');
        nav6.classList.remove('activenav');

    });

    nav2.addEventListener('click', function () { 
        nav2.classList.add('activenav');
        nav1.classList.remove('activenav');
        nav3.classList.remove('activenav');
        nav4.classList.remove('activenav');
        nav5.classList.remove('activenav');
        nav6.classList.remove('activenav');

    });

    nav3.addEventListener('click', function () { 
        nav3.classList.add('activenav');
        nav2.classList.remove('activenav');
        nav1.classList.remove('activenav');
        nav4.classList.remove('activenav');
        nav5.classList.remove('activenav');
        nav6.classList.remove('activenav');

    });

    nav4.addEventListener('click', function () { 
        nav4.classList.add('activenav');
        nav2.classList.remove('activenav');
        nav3.classList.remove('activenav');
        nav1.classList.remove('activenav');
        nav5.classList.remove('activenav');
        nav6.classList.remove('activenav');

    });

    nav5.addEventListener('click', function () { 
        nav5.classList.add('activenav');
        nav2.classList.remove('activenav');
        nav3.classList.remove('activenav');
        nav4.classList.remove('activenav');
        nav1.classList.remove('activenav');
        nav6.classList.remove('activenav');

    });

    nav6.addEventListener('click', function () { 
        nav6.classList.add('activenav');
        nav2.classList.remove('activenav');
        nav3.classList.remove('activenav');
        nav4.classList.remove('activenav');
        nav1.classList.remove('activenav');
        nav5.classList.remove('activenav');

    });
