extends ../template

block varibles
    - var title = "News-one"

block content

    .content
        include ../common/header.pug 
        .newsonecontent 
            .wrapper
                .newsone
                    .titleblock
                        .title 
                            span Строительство коттеджей любой сложности!
                    .wayblock
                        .way
                            a(href="./index.html") Главная  
                            div &gt; 
                            a(href="./news.html") Новости
                            div &gt;
                            span Строительство коттеджей любой сложности
                    section.block
                        .block__date
                            p 12 сентября 2018, 14:56
                        .block__blockfoto
                            img(src="./images/news2.png", alt="")
                        .block__description 
                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                            p Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 
                            p Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. 
                            p Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. 
                        .blockblocks__blockbutton 
                            a(href="./news.html")
                                span Вернуться назад




        include ../common/footer.pug
        include ../common/popaps.pug