extends ../template

block varibles
    - var title = "News"

block content
   
    .content
        include ../common/header.pug                      
        .newscontent 
            .wrapper
                .news
                    .titleblock
                        .title 
                            span Новости	
                    .wayblock
                        .way
                            a(href="./index.html") Главная
                            div &gt; 
                            span Новости
                    section.blockblocks
                        .blockblocks__blockitem
                            .blockblocks__blockfoto 
                                img(src="./images/news1.png", alt="")
                            .blockblocks__content
                                .blockblocks__title
                                    p Строительство  коттеджей любой сложности!
                                .blockblocks__date
                                    p 12 сентября 2018, 14:56
                                .blockblocks__description
                                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                                .blockblocks__blockbutton   
                                    a(href="./news-one.html")
                                        span Посмотреть все
                            .blockblocks__romb  
                                img(src="./images/romb.png", alt="")
                        .blockblocks__blockitem
                            .blockblocks__blockfoto 
                                img(src="./images/news2.png", alt="")
                            .blockblocks__content
                                .blockblocks__title
                                    p Строительство  коттеджей любой сложности!
                                .blockblocks__date
                                    p 12 сентября 2018, 14:56
                                .blockblocks__description
                                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                                .blockblocks__blockbutton   
                                    a(href="./news-one.html")
                                        span Посмотреть все
                            .blockblocks__romb  
                                img(src="./images/romb.png", alt="")
                        .blockblocks__blockitem
                            .blockblocks__blockfoto 
                                img(src="./images/news3.png", alt="")
                            .blockblocks__content
                                .blockblocks__title
                                    p Строительство  коттеджей любой сложности!
                                .blockblocks__date
                                    p 12 сентября 2018, 14:56
                                .blockblocks__description
                                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                                .blockblocks__blockbutton   
                                    a(href="./news-one.html")
                                        span Посмотреть все
                            .blockblocks__romb  
                                img(src="./images/romb.png", alt="")
                    section
                        include ../common/navigations.pug
                    section.bottomtext
                        .textwrap#textwrap
                            .text
                                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики.
                                p  Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. 
                            .text.hidden#hidden
                                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики.  Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. 
                            .linbottom
                                .linbottom__lin#shadow
                                    img(src="./images/newsimgbottom.png", alt="")
                    


        include ../common/footer.pug
        include ../common/script.pug