extends ../template

block varibles
    - var title = "Projects"

block content
   
    .content
        include ../common/header.pug  

        section.title-projects                  
            .wrapper
                .titleblock
                    .title 
                        span Проекты
                .wayblock
                    .way
                        a(href="./index.html") Главная  
                        div &gt; 
                        span Проекты
                    
        section
            .wrapper
                .nav-projects
                    a(href="#")#link8 Все проекты
                        div
                    a(href="#").activpage#link1 Дома до 100м2
                        div
                    a(href="#")#link2 Дома 100-150 м2
                        div
                    a(href="#")#link3 Дома от 150 м2
                        div
                    a(href="#")#link4 Одноэтажные дома
                        div
                    a(href="#")#link5 Дома с мансардой
                        div
                    a(href="#")#link6 Двухэтажные дома
                        div
                    a(href="#")#link7 Дачные дома 
                        div
                    a(href="#")#link9 Коммерческая недвижимость 
                        div

        section
            .wrapper
                .projects-content
                    .projects-content__left
                        .projects-content__description
                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                        .projects__blockblocks.projects__blockblocks_page
                            .projects__blockitem.projects__blockitem_page
                                .projects__blockimg.projects__blockimg_page
                                    img(src="./images/project1.png", alt="")
                                .projects__title.projects__title_page
                                    span Одноэтажный кирпичный дом, № W-209-1K
                                .projects__blocktext.projects__blocktext_page
                                    .projects__text.projects__text_page
                                        div
                                            span Площадь:
                                            |  208.8 м2
                                    .projects__text.projects__text_page
                                        div 
                                            span Материал:
                                            | кирпич
                                    .projects__text.projects__text_page
                                        div 1 этаж, габариты: 19.14 х 21.99 м
                                    .projects__textprice.projects__textprice_page
                                        div 31 200 руб.
                                .projects__button.projects__button_page
                                    a(href="./project_one.html")
                                        span Подробнее
                            .projects__blockitem.projects__blockitem_page
                                .projects__blockimg.projects__blockimg_page
                                    img(src="./images/project2.png", alt="")
                                .projects__title.projects__title_page
                                    span Дом из крупноформатных блоков RAUF, № O-203-1K
                                .projects__blocktext.projects__blocktext_page
                                    .projects__text.projects__text_page
                                        div
                                            span Площадь:
                                            |  208.8 м2
                                    .projects__text.projects__text_page
                                        div 
                                            span Материал: 
                                            |  кирпич
                                    .projects__text
                                        div 2 этажа, габариты: 10.5 х 10.5 м
                                    .projects__textprice.projects__textprice_page
                                        div 42 510 руб.
                                .projects__button.projects__button_page
                                    a(href="./project_one.html")
                                        span Подробнее
                            .projects__blockitem.projects__blockitem_page
                                .projects__blockimg.projects__blockimg_page
                                    img(src="./images/project3.png", alt="")
                                .projects__title.projects__title_page
                                    span Одноэтажный кирпичный дом, № W-209-1K
                                .projects__blocktext.projects__blocktext_page
                                    .projects__text.projects__text_page
                                        div
                                            span Площадь:
                                            |  208.8 м2
                                    .projects__text.projects__text_page
                                        div 
                                            span Материал:
                                            | кирпич
                                    .projects__text
                                        div 1 этаж, габариты: 19.14 х 21.99 м
                                    .projects__textprice.projects__textprice_page
                                        div 32 900 руб.
                                .projects__button.projects__button_page
                                    a(href="./project_one.html")
                                        span Подробнее
                            .projects__blockitem.projects__blockitem_page
                                .projects__blockimg.projects__blockimg_page
                                    img(src="./images/project1.png", alt="")
                                .projects__title.projects__title_page
                                    span Одноэтажный кирпичный дом, № W-209-1K
                                .projects__blocktext.projects__blocktext_page
                                    .projects__text.projects__text_page
                                        div
                                            span Площадь:
                                            |  208.8 м2
                                    .projects__text.projects__text_page
                                        div 
                                            span Материал:
                                            | кирпич
                                    .projects__text.projects__text_page
                                        div 1 этаж, габариты: 19.14 х 21.99 м
                                    .projects__textprice.projects__textprice_page
                                        div 31 200 руб.
                                .projects__button.projects__button_page
                                    a(href="./project_one.html")
                                        span Подробнее
                            .projects__blockitem.projects__blockitem_page
                                .projects__blockimg.projects__blockimg_page
                                    img(src="./images/project2.png", alt="")
                                .projects__title.projects__title_page
                                    span Дом из крупноформатных блоков RAUF, № O-203-1K
                                .projects__blocktext.projects__blocktext_page
                                    .projects__text.projects__text_page
                                        div
                                            span Площадь:
                                            |  208.8 м2
                                    .projects__text.projects__text_page
                                        div 
                                            span Материал: 
                                            |  кирпич
                                    .projects__text
                                        div 2 этажа, габариты: 10.5 х 10.5 м
                                    .projects__textprice.projects__textprice_page
                                        div 42 510 руб.
                                .projects__button.projects__button_page
                                    a(href="./project_one.html")
                                        span Подробнее
                            .projects__blockitem.projects__blockitem_page
                                .projects__blockimg.projects__blockimg_page
                                    img(src="./images/project3.png", alt="")
                                .projects__title.projects__title_page
                                    span Одноэтажный кирпичный дом, № W-209-1K
                                .projects__blocktext.projects__blocktext_page
                                    .projects__text.projects__text_page
                                        div
                                            span Площадь:
                                            |  208.8 м2
                                    .projects__text.projects__text_page
                                        div 
                                            span Материал:
                                            | кирпич
                                    .projects__text
                                        div 1 этаж, габариты: 19.14 х 21.99 м
                                    .projects__textprice.projects__textprice_page
                                        div 32 900 руб.
                                .projects__button.projects__button_page
                                    a(href="./project_one.html")
                                        span Подробнее
                            .projects__blockitem.projects__blockitem_page
                                .projects__blockimg.projects__blockimg_page
                                    img(src="./images/project1.png", alt="")
                                .projects__title.projects__title_page
                                    span Одноэтажный кирпичный дом, № W-209-1K
                                .projects__blocktext.projects__blocktext_page
                                    .projects__text.projects__text_page
                                        div
                                            span Площадь:
                                            |  208.8 м2
                                    .projects__text.projects__text_page
                                        div 
                                            span Материал:
                                            | кирпич
                                    .projects__text.projects__text_page
                                        div 1 этаж, габариты: 19.14 х 21.99 м
                                    .projects__textprice.projects__textprice_page
                                        div 31 200 руб.
                                .projects__button.projects__button_page
                                    a(href="./project_one.html")
                                        span Подробнее
                            .projects__blockitem.projects__blockitem_page
                                .projects__blockimg.projects__blockimg_page
                                    img(src="./images/project2.png", alt="")
                                .projects__title.projects__title_page
                                    span Дом из крупноформатных блоков RAUF, № O-203-1K
                                .projects__blocktext.projects__blocktext_page
                                    .projects__text.projects__text_page
                                        div
                                            span Площадь:
                                            |  208.8 м2
                                    .projects__text.projects__text_page
                                        div 
                                            span Материал: 
                                            |  кирпич
                                    .projects__text
                                        div 2 этажа, габариты: 10.5 х 10.5 м
                                    .projects__textprice.projects__textprice_page
                                        div 42 510 руб.
                                .projects__button.projects__button_page
                                    a(href="./project_one.html")
                                        span Подробнее
                            .projects__blockitem.projects__blockitem_page
                                .projects__blockimg.projects__blockimg_page
                                    img(src="./images/project3.png", alt="")
                                .projects__title.projects__title_page
                                    span Одноэтажный кирпичный дом, № W-209-1K
                                .projects__blocktext.projects__blocktext_page
                                    .projects__text.projects__text_page
                                        div
                                            span Площадь:
                                            |  208.8 м2
                                    .projects__text.projects__text_page
                                        div 
                                            span Материал:
                                            | кирпич
                                    .projects__text
                                        div 1 этаж, габариты: 19.14 х 21.99 м
                                    .projects__textprice.projects__textprice_page
                                        div 32 900 руб.
                                .projects__button.projects__button_page
                                    a(href="./project_one.html")
                                        span Подробнее
                            
                    .projects-content__right 
                        include ../common/bird.pug
        section.navigations-projects
            .wrapper
                include ../common/navigations.pug

        include ../common/footer.pug
        include ../common/popaps.pug

        script.
            var link1 = document.getElementById('link1');

            link1.addEventListener('click', function () { 
                link1.classList.add('activpage');
                link2.classList.remove('activpage');
                link3.classList.remove('activpage');
                link4.classList.remove('activpage');
                link5.classList.remove('activpage');
                link6.classList.remove('activpage');
                link7.classList.remove('activpage');
                link8.classList.remove('activpage');
                link9.classList.remove('activpage');
            });

            link2.addEventListener('click', function () { 
                link2.classList.add('activpage');
                link1.classList.remove('activpage');
                link3.classList.remove('activpage');
                link4.classList.remove('activpage');
                link5.classList.remove('activpage');
                link6.classList.remove('activpage');
                link7.classList.remove('activpage');
                link8.classList.remove('activpage');
                link9.classList.remove('activpage');
            });

            link3.addEventListener('click', function () { 
                link3.classList.add('activpage');
                link1.classList.remove('activpage');
                link2.classList.remove('activpage');
                link4.classList.remove('activpage');
                link5.classList.remove('activpage');
                link6.classList.remove('activpage');
                link7.classList.remove('activpage');
                link8.classList.remove('activpage');
                link9.classList.remove('activpage');
            });

            link4.addEventListener('click', function () { 
                link4.classList.add('activpage');
                link1.classList.remove('activpage');
                link3.classList.remove('activpage');
                link2.classList.remove('activpage');
                link5.classList.remove('activpage');
                link6.classList.remove('activpage');
                link7.classList.remove('activpage');
                link8.classList.remove('activpage');
                link9.classList.remove('activpage');
            });

            link5.addEventListener('click', function () { 
                link5.classList.add('activpage');
                link1.classList.remove('activpage');
                link3.classList.remove('activpage');
                link4.classList.remove('activpage');
                link2.classList.remove('activpage');
                link6.classList.remove('activpage');
                link7.classList.remove('activpage');
                link8.classList.remove('activpage');
                link9.classList.remove('activpage');
            });

            link6.addEventListener('click', function () { 
                link6.classList.add('activpage');
                link1.classList.remove('activpage');
                link3.classList.remove('activpage');
                link4.classList.remove('activpage');
                link5.classList.remove('activpage');
                link2.classList.remove('activpage');
                link7.classList.remove('activpage');
                link8.classList.remove('activpage');
                link9.classList.remove('activpage');
            });

            link7.addEventListener('click', function () { 
                link7.classList.add('activpage');
                link1.classList.remove('activpage');
                link3.classList.remove('activpage');
                link4.classList.remove('activpage');
                link5.classList.remove('activpage');
                link6.classList.remove('activpage');
                link2.classList.remove('activpage');
                link8.classList.remove('activpage');
                 link9.classList.remove('activpage');
            });

            link8.addEventListener('click', function () { 
                link8.classList.add('activpage');
                link1.classList.remove('activpage');
                link3.classList.remove('activpage');
                link4.classList.remove('activpage');
                link5.classList.remove('activpage');
                link6.classList.remove('activpage');
                link2.classList.remove('activpage');
                link7.classList.remove('activpage');
                link9.classList.remove('activpage');
            });

            link9.addEventListener('click', function () { 
                link9.classList.add('activpage');
                link1.classList.remove('activpage');
                link3.classList.remove('activpage');
                link4.classList.remove('activpage');
                link5.classList.remove('activpage');
                link6.classList.remove('activpage');
                link2.classList.remove('activpage');
                link7.classList.remove('activpage');
                link8.classList.remove('activpage');
            });