.calc{
    background-color: #f5f5f5;
    width: 270px;
    padding: 22px 21px 0 19px;
    position: relative;
    height: 386px;
    &__title{
        margin-bottom: 18px;
        span{
            font-size: 22px;
            color: #262626;
            line-height: 22px;
        }
    }
    &__blockselecttop{
        display: flex;
        justify-content: space-between;
        div{
            width: 106px;
        }
    }
    &__quantity-block{
        position: relative;
    }
    &__quantity-num{
        width: 77px;
        height: 39px;
        border: 1px solid #e8e8e8;
        border-radius: 3px;
        color: #7b7b7b;
        font-size: 16px;
        padding-left: 13px;
    }
    &__quantity-arrow-plus{
        width: 29px;
        height: 19.5px;
        position: absolute;
        border-radius: none;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: #e8e8e8;
        right: 1px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        &_b{
            bottom: 0;
            border-top: 1px solid darkgrey;
            border-top-left-radius: none; 
            border-top-right-radius: none; 
        }
    }
    &__input{
        width: 106px;
        height: 39px;
        border-radius: 3px;
        border: 1px solid #e8e8e8;
        background-color: $white;
        padding: 14px 0 0 13px;
        appearance: none;
        background-image: url(../images/b.png);
        background-repeat: no-repeat;
        background-position: center right 12px;
        &_select{
            padding-top: 8px;
            color: #7b7b7b;
            font-size: 16px;
            line-height: 16px;
            padding: 0;
            padding-left: 13px;
        }
        &_select2{
            width: 227px;
            margin-top: 3px;
            padding: 0;
            padding-left: 13px;
            color: #7b7b7b;
            font-size: 16px;
        }
    }
    &__label{
        font-size: 16px;
        color: $maintext;
        line-height: 16px;
    }
    &__blockselectbottom{
        display: flex;
        flex-direction: column;
        margin-top: 9px;
    }
    &__blockbutton{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 23px;
        button{
            width: 147px;
            height: 39px;
            border-radius: 3px;
            background-color: $white;
            border: 1px solid #cbaa45;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                font-size: 18px;
                font-weight: 400;
                line-height: 16px;
                color: $maintext;
            }
        }
    }
    &__bottomblock{
        width: 270px;
        height: 78px;
        background-color: #2f2f2f;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 18px 0 0 19px;
    }
    &__bottomblocktext{
        font-size: 16px;
        color: $white;
        line-height: 16px;
        &_color{
            font-size: 22px;
            font-weight: 700;
            line-height: 22px;
            color: #cbaa45;
            margin-top: 8px;
        }
    }
}