.contacts{
    padding: 55px 0 102px 0;
    &__content{
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
    }
    &__left{
        width: 49%;
        display: flex;
        flex-wrap: wrap;
    }
    &__blockitem{
        width: 50%;
        display: flex;
    }
    &__blockikn{
        margin-right: 22px;
    }
    &__blockinfotitle {
        margin-bottom: 16px;
        div{
            font-size: 24px;
            font-weight: 700;
            line-height: 21px;
        }
    }
    &__blocktext{
        display: flex;
        flex-direction: column;
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 15.98px;
        }
    }
    &__right{
        width: 49%;
    }
    &__blockmap{
        width: 570px;
        height: 436px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid #c7a948;
    }
}

@media all and (max-width: 1200px) {
    .contacts{
        &__content{
            flex-direction: column;
            align-items: center;
        }
        &__left{
            width: 100%;
            margin-bottom: 30px;
            justify-content: space-around;
        }
        &__blockitem{
            width: auto;
            margin-bottom: 20px;
            flex-direction: column;
            align-items: center;
            margin: 20px 10px;
        }
        &__blockikn{
            margin: 0;
        }
        &__blockinfo{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__right{
            width: 100%;
            justify-content: center;
            display: flex;
        }
    }
}

@media all and (max-width: 660px){
    .contacts{
        &__blockmap{
            height: 70vw;
        }
    }
}

@media all and (max-width: 500px){
    .contacts{
        &__content{
            margin-top: 20px;
        }
        
    }
}

@media all and (max-width: 400px){
    .contacts{
        padding: 35px 0 40px 0;
    }
}