.footercontent{
    background-color: $maintext;
    .wrapper{
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

.footer{
    width: 1227px;
    margin: 0 auto;
    padding: 37px 0 51px 29px;
    display: flex;
    justify-content: space-between;
    &__block4{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__logo{
        a{
            text-decoration: none;
        }
        span{
            font-family: "izhitsa";
            font-size: 23px;
            font-weight: 400;
            letter-spacing: 2.5px;
            color: $white;
            span{
                color: #c7a948;
                font-family: "yermak";
            }
        }
    }
    &__description{
        span{
            font-size: 16px;
            font-weight: 400;
            color: $white;
            opacity: 0.4;
            font-family: "izhitsa";
        }
    }
    &__block2, &__block3{
        display: flex;
        flex-direction: column;
        a{
            text-decoration: none;
        }
    }
    &__text{
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: $white;
    }
    &__number{
        span{
            color: #cbaa45;
            font-size: 30px;
            font-weight: 800;
            line-height: 22px;
        }
    }
    &__numberdesc{
        span{
            a{
                opacity: 0.4;
                font-size: 16px;
                font-weight: 400;
                color: $white;
            }
        }
    }
    &__blocksocial{
        margin: 20px;
        display: flex;
        svg{
            fill: $white;
            transition: 0.2s;
        }
        .instagram{
            margin-left: 30px;
        }
    }
    .vk:hover{
        svg{
            fill: #cbaa45;
            transition: 0.2s;
        }
    }
    .instagram:hover{
        svg{
            fill: #cbaa45;
            transition: 0.2s;
        }
    }
}

.footer{
    a:hover{
        span{
            color: #cbaa45;
        }
    }
}


@media all and (max-width: 1250px) {
    .footercontent{
        .footer{
            padding-right: 20px;
            width: auto;
        }
    }
}

@media all and (max-width: 750px) {
    .footercontent{
        .footer{
            flex-wrap: wrap;
        }
    }
}

@media all and (max-width: 580px) {
    .footercontent{
        .footer{
            &__block1,  &__block2,  &__block3{
                text-align: center;
                width: 100%;
            }
            &__block4{
                display: flex;
                align-items: center;
                width: 100%;
                margin-top: 16px;
            }
            &__block1{
                margin-bottom: 16px;
            }
        }
    }
}