.question{
    width: 270px;
    height: 353px;
    background-color: $maintext;
    padding: 27px 40px 0 19px;
    position: relative;
    z-index: 1111000000000;
    &_price{
        height: 398px;
    }
    &_materials{
        height: 637px;
        padding: 27px 17px 0 19px;
    }
    &__img{
        position: absolute;
        top: -7px;
        left: -7px;
        z-index: 1;
    }
    &__righttitle{
        margin-bottom: 29px;
        span{
            color: $white;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 26px;
        }
    }
    &__paragraphitem{
        position: relative;
        padding-left: 23px;
        margin-bottom: 31px;
        div{
            
        }
    }
    &__paragraphtext{
        color: $white;
        font-size: 18px;
        font-weight: 700;
        text-decoration: underline;
        line-height: 20px;
    }
    &__paragraphtext::after{
        content: url(../images/paragraphw.png);
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media all and (max-width: 500px) {
    .question{
        &__righttitle{
            span{
                font-size: 20px;
            }
        }
    }
    
}