.way{
    display: flex;
    align-items: center;
    a{
        cursor: pointer;
        text-decoration: underline;
        font-size: 14px;
        color:#7b7b7b;
    }
    div{
        color: #7b7b7b;
        margin: 0 3px;
    }
    span{
        font-size: 14px;
    }

}

@media all and (max-width: 1250px) {
    .way{
        display: flex;
        justify-content: center;  
    }
}
