<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Добро Пожаловать</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="ie-edge" http-equiv="x-ua-compatible">
    <link rel="stylesheet" href="./styles/app.min.css?1">
    <script src="./scripts/app.js?1" defer></script>

    <script src="./dist/js/jquery-3.2.1.min.js?1"></script> 
    
    </script><script src="./dist/js/swiper.min.js?1"></script>
<script src="./dist/js/photoswipe.min.js?1"></script>
<script src="./dist/js/photoswipe-ui-default.min.js?1"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js?1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.js?1"></script>
<script src="./dist/js/masonry.pkgd.min.js?1"></script>
<script src="./dist/js/main.js?1"></script> 
  </head>
  <body>
    <div class="content"><!DOCTYPE html>
      <html>
        <head>
          <meta charset="UTF-8">
          <title>Добро Пожаловать</title>
          <meta content="" name="description">
          <meta content="" name="keywords">
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
          <meta content="ie-edge" http-equiv="x-ua-compatible">
          <link rel="stylesheet" href="./styles/app.min.css?1"><script src="./dist/js/jquery-3.2.1.min.js?1"></script> 
          <script src="./scripts/app.js?1" defer></script><script src="./dist/js/swiper.min.js?1"></script>
<script src="./dist/js/photoswipe.min.js?1"></script>
<script src="./dist/js/photoswipe-ui-default.min.js?1"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js?1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.js?1"></script>
<script src="./dist/js/masonry.pkgd.min.js?1"></script>
<script src="./dist/js/main.js?1"></script> 
        </head>
        <body>
          <header class="hoadercontent">
            <div class="wrapper">
              <div class="header">
                <div class="header__top">
                  <div class="header__centr">
                    <div class="header__logoblock"><a href="#"><img src="./images/logo.png" alt=""></a>
                      <div class="logotext">Магнат<span>Ъ </span>Строй</div>
                    </div>
                  </div>
                  <div class="header__rght"><span>(063) 523 65 65</span><a href="#">заказать обратный звонок</a>
                    <div class="header__imgl"><img src="./images/imgl.png" alt=""></div>
                    <div class="header__imgr"><img src="./images/imgr.png" alt=""></div>
                  </div>
                </div>
                <div class="header__bottom">
                  <div class="header__contentbottom">
                    <div class="header__menu"><a href="#">Строительство домов                                                          </a><a href="#">Фото объектов</a><a href="#">Наши услуги </a><a href="#">Проекты</a><a href="#">О нас</a><a href="#">Цены</a><a href="#">Контакты</a></div>
                    <div class="header__call"><span>Еще нет земельного участка? Мы подберем!</span><img src="./images/map.png" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
          </header>
        </body>
      </html>
      <stction class="pricecontent">
        <div class="wrapper">
          <div class="price">
            <div class="price__left">
              <div class="swiper-contain">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="./images/priceimg.png" alt=""></div>
                  <div class="swiper-slide"><img src="./images/priceimg.png" alt=""></div>
                  <div class="swiper-slide"><img src="./images/priceimg.png" alt=""></div>
                  <div class="swiper-slide"><img src="./images/priceimg.png" alt=""></div>
                </div>
                <div class="swiper-pagination"> </div>
                <div class="swiper-button-next"> </div>
              </div>
              <div class="price__shadowblock">
                <div class="price__textblock">
                  <div class="price__text"><span>Строительство коттеджей любой сложности!</span></div>
                  <div class="price__text price__text_mrg"><span>Далеко-далеко за словесными горами.</span></div>
                </div>
              </div>
            </div>
            <div class="price__right">
              <div class="price__title"><span>Рассчитайте стоимость строительства:</span></div>
              <div class="price__blockselect"> 
                <div class="price__blockselecttop">
                  <div>
                    <label class="price__label">Площадь:</label>
                    <div class="price__quantity-block quantity-block">
                      <button class="price__quantity-arrow-plus quantity-arrow-plus"><img src="./images/t.png" alt=""></button>
                      <input class="price__quantity-num quantity-num" type="text" value="1 м²">
                      <button class="price__quantity-arrow-minus quantity-arrow-minus price__quantity-arrow-plus price__quantity-arrow-plus_b"><img src="./images/b.png" alt=""></button>
                    </div>
                  </div>
                  <div><span class="price__label">Этажность:
                      <select class="price__input price__input_select" name="">
                        <option value="1">1  </option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5  </option>
                      </select></span></div>
                </div>
                <div class="price__blockselectbottom">
                  <label class="price__label">Технология строительства:
                    <select class="price__input price__input_select2" name="">
                      <option value="Ракушечник">Ракушечник</option>
                      <option value="Газобетон">Газобетон</option>
                      <option value="Каркасная">Каркасная</option>
                      <option value="Пеноблок">Пеноблок</option>
                      <option value="Каменная">Каменная</option>
                      <option value="Кирпичная">Кирпичная</option>
                    </select>
                  </label>
                </div>
                <div class="price__blockbutton">
                  <button class="price__button"> <span>Посчитать</span></button>
                </div>
              </div>
              <div class="price__bottomblock">
                <div class="price__bottomblocktext">Стоимость строительства:</div>
                <div class="price__bottomblocktext price__bottomblocktext_color">188 220 руб.</div>
              </div>
            </div>
          </div>
        </div>
      </stction>
      <srction class="aboutcontent">
        <div class="wrapper">
          <div class="about">
            <div class="about__left">
              <div class="about__blocktitle"> <span>Из чего мы строим?</span><img src="./images/aboutstring.png" alt=""></div>
              <div class="about__blockblocks">
                <div class="about__blockitem">  
                  <div class="about__imgblock"><img src="./images/about1.png" alt=""></div>
                  <div class="about__titleblockitem"><span>Ракушечник</span></div>
                </div>
                <div class="about__blockitem">  
                  <div class="about__imgblock"><img src="./images/about2.png" alt=""></div>
                  <div class="about__titleblockitem"><span>Газобетон</span></div>
                </div>
                <div class="about__blockitem">  
                  <div class="about__imgblock"><img src="./images/about3.png" alt=""></div>
                  <div class="about__titleblockitem"><span>Каркасный</span></div>
                </div>
                <div class="about__blockitem">  
                  <div class="about__imgblock"><img src="./images/about4.png" alt=""></div>
                  <div class="about__titleblockitem"><span>Пеноблок</span></div>
                </div>
                <div class="about__blockitem">  
                  <div class="about__imgblock"><img src="./images/about5.png" alt=""></div>
                  <div class="about__titleblockitem"><span>Каменный</span></div>
                </div>
                <div class="about__blockitem about__blockitem_pad"> 
                  <div class="about__imgblock"><img src="./images/about6.png" alt=""></div>
                  <div class="about__titleblockitem"><span>Кирпич</span></div>
                </div>
              </div>
            </div>
            <div class="about__right">
              <div class="about__top">
                <div class="about__toptitleblock">  <span>Подбор земельного участка для строительства дома</span></div>
                <div class="about__topdescriptionblock"><span>Как выбрать земельный участок под строительство дома?</span></div>
                <div class="about__topimgblock"><img src="./images/imagesu.png" alt=""></div>
              </div>
              <div class="about__bottom">
                <div class="about__bottomblockimg"><img src="./images/aboutfoto.png" alt=""></div>
                <div class="about__bottomtopblock"><span>популярный проект</span></div>
                <div class="about__bottom2block"><span class="about__bottom2text">Дом 0-24</span><span class="about__bottom2text about__bottom2text_mrg">Популярный проект дома из камня. Удобная планировка. практичное архитектурное решение. Обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах.</span></div>
              </div>
            </div>
          </div>
        </div>
      </srction>
      <section class="advantagescontent">
        <div class="wrapper">
          <div class="advantages">
            <div class="advantages__top">
              <div class="advantages__left">
                <div class="advantages__blocktitle"><span>Наши преимущества</span><img src="./images/aboutstring.png" alt=""></div>
                <div class="advantages__blockblocks">
                  <div class="advantages__blockitem"> 
                    <div class="advantages__imgblock"></div><img src="./images/advantagesicon1.png" alt="">
                    <div class="advantages__titleblockitem"><span>Экономичность</span></div>
                    <div class="advantages__descriptionblock"><span>Проснувшись однажды утром после беспокойного сна.</span></div>
                  </div>
                  <div class="advantages__blockitem"> 
                    <div class="advantages__imgblock"></div><img src="./images/advantagesicon2.png" alt="">
                    <div class="advantages__titleblockitem"><span>Экологичность</span></div>
                    <div class="advantages__descriptionblock"><span>Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span></div>
                  </div>
                  <div class="advantages__blockitem"> 
                    <div class="advantages__imgblock"></div><img src="./images/advantagesicon3.png" alt="">
                    <div class="advantages__titleblockitem"><span>Идеально ровные стены</span></div>
                    <div class="advantages__descriptionblock"><span>Проснувшись однажды утром после беспокойного сна.</span></div>
                  </div>
                </div>
              </div>
              <div class="advantages__right">
                <div class="advantages__righttitle">    <span>Часто задаваемые вопросы:</span></div>
                <div class="advantages__paragraphitem"> 
                  <u><span class="advantages__paragraphtext">Вентиляция в доме </span></u>
                </div>
                <div class="advantages__paragraphitem"> 
                  <u> <span class="advantages__paragraphtext">Виды декоратинвых штукатурок </span></u>
                </div>
                <div class="advantages__paragraphitem"> 
                  <u><span class="advantages__paragraphtext">Виды сайдинга для отделки дома</span></u>
                </div>
                <div class="advantages__img"><img src="./images/rama.png" alt=""></div>
              </div>
            </div>
            <div class="advantages__bottom"> 
              <div class="advantages__bottomblockitem">
                <div class="advantages__blockimg"><img src="./images/advantages1.png" alt=""></div>
                <div class="advantages__description"><span class="advantages__descriptiontext">Наше достижение</span><span class="advantages__descriptiontext advantages__descriptiontext_size">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил.</span></div>
                <div class="advantages__blockicon"><img src="./images/advantagesicon4.png" alt=""></div>
              </div>
              <div class="advantages__bottomblockitem">
                <div class="advantages__blockimg"><img src="./images/advantages2.png" alt=""></div>
                <div class="advantages__description"><span class="advantages__descriptiontext">Второе достижение</span><span class="advantages__descriptiontext advantages__descriptiontext_size">Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span></div>
                <div class="advantages__blockicon"><img src="./images/advantagesicon4.png" alt=""></div>
              </div>
              <div class="advantages__bottomblockitem">
                <div class="advantages__blockimg"><img src="./images/advantages3.png" alt=""></div>
                <div class="advantages__description"><span class="advantages__descriptiontext">И третье</span><span class="advantages__descriptiontext advantages__descriptiontext_size">Замза обнаружил, что он  превратился в насекомое.</span></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="workscontent">   
        <div class="wrapper">
          <div class="works">
            <div class="works__blocktitle">
              <div class="works__title"><span>Выполненные работы</span><img src="./images/sliderstring.png" alt=""></div>
              <div class="works__description"><span>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span></div>
            </div>
            <div class="works__sliderblock">
              <div class="works__imgl"><img src="./images/imgl.png" alt=""></div>
              <div class="works__imgr"><img src="./images/imgr.png" alt=""></div>
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="works__blockslid"><img src="./images/slid1.png" alt=""></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="works__blockslid"><img src="./images/slid2.png" alt=""></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="works__blockslid"><img src="./images/slid3.png" alt=""></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="works__blockslid"><img src="./images/slid1.png" alt=""></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="works__blockslid"><img src="./images/slid2.png" alt=""></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="works__blockslid"><img src="./images/slid3.png" alt=""></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="works__blockslid"><img src="./images/slid1.png" alt=""></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="works__blockslid"><img src="./images/slid2.png" alt=""></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="works__blockslid"><img src="./images/slid3.png" alt=""></div>
                  </div>
                </div>
              </div>
              <div class="works__buttonblock">
                <div class="works__buttonl swiper-button-pre" tabindex="3"><img src="./images/l.png" alt=""></div>
                <div class="works__buttonr swiper-button-nex"><img src="./images/r.png" alt=""></div>
              </div>
            </div>
            <div class="works__buttonbottom">
              <button class="works__button"><a href="#"><span>Посмотреть все</span></a></button>
            </div>
          </div>
        </div>
      </section>
      <section class="projectscontent">
        <div class="wrapper">
          <div class="projects">
            <div class="projects__titleblock"><span>Типовые проекты</span><img src="./images/sliderstring.png" alt=""></div>
            <div class="projects__blockblocks">
              <div class="projects__blockitem">
                <div class="projects__blockimg"><img src="./images/project1.png" alt=""></div>
                <div class="projects__title"><span>Одноэтажный кирпичный дом, № W-209-1K</span></div>
                <div class="projects__blocktext">
                  <div class="projects__text">
                    <div><span>Площадь:</span> 208.8 м2</div>
                  </div>
                  <div class="projects__text">
                    <div> <span>Материал:</span>кирпич</div>
                  </div>
                  <div class="projects__text">
                    <div>1 этаж, габариты: 19.14 х 21.99 м</div>
                  </div>
                  <div class="projects__textprice">
                    <div>31 200 руб.</div>
                  </div>
                </div>
                <div class="projects__button"><a href="#"><span>Подробнее</span></a></div>
              </div>
              <div class="projects__blockitem">
                <div class="projects__blockimg"><img src="./images/project2.png" alt=""></div>
                <div class="projects__title"><span>Дом из крупноформатных блоков RAUF, № O-203-1K</span></div>
                <div class="projects__blocktext">
                  <div class="projects__text">
                    <div><span>Площадь:</span> 208.8 м2</div>
                  </div>
                  <div class="projects__text">
                    <div> <span>Материал:</span>кирпич</div>
                  </div>
                  <div class="projects__text">
                    <div>2 этажа, габариты: 10.5 х 10.5 м</div>
                  </div>
                  <div class="projects__textprice">
                    <div>42 510 руб.</div>
                  </div>
                </div>
                <div class="projects__button"><a href="#"><span>Подробнее</span></a></div>
              </div>
              <div class="projects__blockitem">
                <div class="projects__blockimg"><img src="./images/project3.png" alt=""></div>
                <div class="projects__title"><span>Одноэтажный кирпичный дом, № W-209-1K</span></div>
                <div class="projects__blocktext">
                  <div class="projects__text">
                    <div><span>Площадь:</span> 208.8 м2</div>
                  </div>
                  <div class="projects__text">
                    <div> <span>Материал:</span>кирпич</div>
                  </div>
                  <div class="projects__text">
                    <div>1 этаж, габариты: 19.14 х 21.99 м</div>
                  </div>
                  <div class="projects__textprice">
                    <div>32 900 руб.</div>
                  </div>
                </div>
                <div class="projects__button"><a href="#"><span>Подробнее</span></a></div>
              </div>
              <div class="projects__blockitem">
                <div class="projects__blockimg"><img src="./images/project1.png" alt=""></div>
                <div class="projects__title"><span>Одноэтажный кирпичный дом, № W-209-1K</span></div>
                <div class="projects__blocktext">
                  <div class="projects__text">
                    <div><span>Площадь:</span> 208.8 м2</div>
                  </div>
                  <div class="projects__text">
                    <div> <span>Материал:</span>кирпич</div>
                  </div>
                  <div class="projects__text">
                    <div>1 этаж, габариты: 19.14 х 21.99 м</div>
                  </div>
                  <div class="projects__textprice">
                    <div>31 200 руб.</div>
                  </div>
                </div>
                <div class="projects__button"><a href="#"><span>Подробнее</span></a></div>
              </div>
              <div class="projects__blockitem">
                <div class="projects__blockimg"><img src="./images/project2.png" alt=""></div>
                <div class="projects__title"><span>Дом из крупноформатных блоков RAUF, № O-203-1K</span></div>
                <div class="projects__blocktext">
                  <div class="projects__text">
                    <div><span>Площадь:</span> 208.8 м2</div>
                  </div>
                  <div class="projects__text">
                    <div> <span>Материал:</span>кирпич</div>
                  </div>
                  <div class="projects__text">
                    <div>2 этажа, габариты: 10.5 х 10.5 м</div>
                  </div>
                  <div class="projects__textprice">
                    <div>42 510 руб.</div>
                  </div>
                </div>
                <div class="projects__button"><a href="#"><span>Подробнее</span></a></div>
              </div>
              <div class="projects__blockitem">
                <div class="projects__blockimg"><img src="./images/project3.png" alt=""></div>
                <div class="projects__title"><span>Одноэтажный кирпичный дом, № W-209-1K</span></div>
                <div class="projects__blocktext">
                  <div class="projects__text">
                    <div><span>Площадь:</span> 208.8 м2</div>
                  </div>
                  <div class="projects__text">
                    <div> <span>Материал:</span>кирпич</div>
                  </div>
                  <div class="projects__text">
                    <div>1 этаж, габариты: 19.14 х 21.99 м</div>
                  </div>
                  <div class="projects__textprice">
                    <div>32 900 руб.</div>
                  </div>
                </div>
                <div class="projects__button"><a href="#"><span>Подробнее</span></a></div>
              </div>
            </div>
            <div class="projects__longstring"><img src="./images/projectslong.png" alt=""></div>
          </div>
        </div>
      </section>
      <section class="formcontent">
        <div class="wrapper">
          <div class="form">
            <div class="form__titleblock"><img src="./images/formicon.png" alt=""><span>Остались вопросы? </span></div>
            <form class="form__blockform">
              <input class="form__input" type="text" placeholder="Имя">
              <input class="form__input" type="tell" placeholder="Телефон">
              <input class="form__input" type="email" placeholder="E-Mail">
              <button class="form__submit" type="submit"><span>Связаться</span></button>
            </form>
          </div>
        </div>
      </section>
      <footer class="footercontent">
        <div class="wrapper">
          <div class="footer">
            <div class="footer__block1">
              <div class="footer__logo">  <a href="#"><span>Магнат Строй</span></a></div>
              <div class="footer__description"><span>© все права защищены</span></div>
            </div>
            <div class="footer__block2"><span class="footer__text">Строительство домов          </span><span class="footer__text">Фото объектов </span><span class="footer__text">Наши услуги     </span><span class="footer__text">Проекты   </span></div>
            <div class="footer__block3"><span class="footer__text">О нас          </span><span class="footer__text">Цены</span><span class="footer__text">Контакты</span></div>
            <div class="footer__block4">
              <div class="footer__number"><span>(063) 523 65 65</span></div>
              <div class="footer__numberdesc"><span>заказать обратный звонок</span></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>